.center {
    text-align: center;
}

.form-container {
    margin: 50px;
    max-width: 75%;
    max-height: 75%;
    border: 1px solid burlywood;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
}