.editButton {
    color: #009688;
    float: right;
    border-color: cornsilk;
}

.editButton:hover {
    color: #02665c;
}

.deleteButton {
    color: #f44336;
    float: right;
    border-color: cornsilk;
}

.deleteButton:hover {
    color: #ca1406;
}