body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
}

#navbar {
    background-color: rgb(86, 94, 86);
    height: 60px;
    left: 0px;
    top: 0px;
}

#navbar .navbar-brand {
    width: 10%;
    float: left;
    padding-top: 15px;
    padding-left: 25px;
    color: #ecebeb;
}

#navbar .nav {
    width: 50%;
    float: left;
}

#navbar .nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-top: 15px;
}

#navbar .nav ul li {
    float: left;
    background-color: rgb(86, 94, 86);
}

#navbar .nav ul li a:link,
#navbar .nav ul li a:visited {
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    color: white;
}

#navbar .nav ul li a:hover {
    background-color: rgb(16, 58, 16);
}

input[type=text],
input[type=number],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    border: none;
    background-color: #93bff1;
    color: rgb(14, 13, 13);
    margin-left: 650px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.multipleSelection {
    width: 300px;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkBoxes {
    display: none;
    border: 1px #8DF5E4 solid;
}

#checkBoxes label {
    display: block;
}

#checkBoxes label:hover {
    background-color: #4F615E;
}

a:link,
a:visited {
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    color: rgb(161, 207, 107);
    background-color: transparent;
}

a:hover {
    background-color: rgb(78, 78, 71);
}

.container-first {
    width: 100%;
    height: 50px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row-head {
    display: flex;
    width: 100%;
    height: 50px;
    flex-wrap: wrap;
    float: right;
    margin-right: -15px;
    margin-left: -15px;
}

.functionality button {
    float: right;
    margin-top: 1px;
    margin-right: 1%;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}

.card-title {
    margin-bottom: .75rem;
    width: 500px;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, .12);
}

.editButton {
    color: #009688;
    float: right;
    border-color: cornsilk;
}

.editButton:hover {
    color: #02665c;
}

.deleteButton {
    color: #f44336;
    float: right;
    border-color: cornsilk;
}

.deleteButton:hover {
    color: #ca1406;
}